/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 @font-face {
     font-family: MeamaSerif;
     src: url(../fonts/MeamaLGV-Medium.woff);
   }
 
   @font-face {
     font-family: MeamaSansRegular;
     src: url(../fonts/MeamaSansLGV-Regular.woff);
   }
 
   @font-face {
     font-family: MeamaSansMedium;
     src: url(../fonts/MeamaSansLGV-Medium.woff);
   }
 
 body{
     background:#F5F5F5;
     width: 100%;
     font: 1em MeamaSansRegular;
     box-sizing: border-box;
 }
 .container{
     max-width: 1200px;
     margin: auto;
 
     .inside-cointainer{
         padding: 64px 0;
     }
 }
 
 header{
     height: 300px;
     .header-bg{
         background: url(../images/ukr.png) top center no-repeat;
         width: 100%;
         height: 200px;
     }
     .main-logos{
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 10px 0;
         background: #fff;;
 
         .meama-logo, .redcross-logo{
             display: inline-block;
             vertical-align: middle;
             margin-right: 32px;
 
             &:last-child{
                 margin-right: 0;
             }
         }
        
 
         
     }
 
 }
 
 
 main{
    width: 100%;
    overflow: hidden;
    word-break: break-word;
     .main-text{
         h1{
             font: 2em MeamaSerif;
             margin-bottom: 24px;
             margin-top: 56px;
         }
 
         p{
             font: 1.25em MeamaSansRegular;
         }
     }
 
 
     .bigwh-container{
         background: #fff;
         max-width: 90%;
         box-shadow: 0em 2px 10px rgba(0, 0, 0, 0.116);
         border-radius: 16px;
         margin: auto;
         margin-top: 64px;
         margin-bottom: 64px;
         overflow: hidden;
         padding-bottom: 96px;

         h2{
             font: 2em meamaSerif;
             color: #000;
         }
 
         
         .onelist-left{
             margin-right: 20px;
             max-width: 600px;
             display: inline-block;
             vertical-align: top;
         }
         .onelist-right{
             max-width: 500px;
             display: inline-block;
         }
             
             ul.onelist{
                 padding-left:64px;
                 background: no-repeat;
                 margin-top: 64px;
                 
                 &.onelist{
                     &.food{
                         background: url(../images/food.svg) no-repeat;
                         padding-right: 104px;
                     }
                     &.hygien{
                         background: url(../images/hygien.svg) no-repeat;
                         padding-right: 104px;
                     }
                     &.pharmacy{
                         background: url(../images/medical.svg) no-repeat;
                     }
                   
                     &.clothes{
                         background: url(../images/clothes.svg) no-repeat;
                     }
                     &.other{
                         background: url(../images/other.svg) no-repeat;
                     }
                     
 
                 li{
                     &:before{
                         content: "-";
                         padding-right: 4px;
                     }
                     &:first-child:before{
                         content: "";
                         padding: 0;
                     }
 
                 }
             }
 
             h3{
                 font: 1.25em MeamaSansMedium;
                 margin-bottom: 16px;
             }
 
             &.onelist-right{
                 margin-right: 0;
                 ul{
                     
                 }
             }
         }
 
 
 
         .info-curier{
             margin: 32px 96px;
             padding: 64px 0;
             border-top: 1px solid rgba(0, 0, 0, 0.103);
             border-bottom: 1px solid rgba(0, 0, 0, 0.103);

              
            .desc-curier{
                h4{
                   font: 1.5em MeamaSansRegular;
                   margin-bottom: 0.35em;
                }
            }

            .rules{
                margin-top: 32px;
                ul{
                    margin-top:8px;

                    li:before{
                        content: "-";
                        margin-right: 8px;
                    }
                }
                p{
                    font-family: MeamaSansMedium;
                }
            }
             
         }
         
         .form{
            margin: 32px 0;

            .paddinger{
                // padding: 0 96px;
            }

            .agree-terms{

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;


                input[type="checkbox"]{
                    width: 32px;
                    height: 32px;
                }
    
                &>label{
                    margin-left: 12px;
                }
            }
            

            .main-form{
                
                h3{
                    font: 2em MeamaSerif;
                    display: block;
                    margin-bottom: 24px;
                    margin-top: 64px;
                }
                form{
                    
                }
                input, select, textarea{
                    width: 50%;
                    max-width: 382px;
                    border:rgba(0, 0, 0, 0.103) solid 1px;
                    height: 28px;
                    padding: 10px ;
                    margin-bottom: 12px;
                    margin-right: 8px;
                    font: 0.85em MeamaSansRegular;
                    border-radius: 3px;
                    background: #fff;
                }
                select{
                    padding: 13.5px 10px;
                    box-sizing: content-box;
                }
                textarea{
                    height:50px;
                    width: 100%;
                    display: block;
                    max-width: 800px;
                }

                button{
                    background-color: #FED501;
                    color: #2157A1;
                    padding: 16px 44px;
                    border: 0;
                    border-radius: 6px;
                    font: 1em MeamaSansMedium;
                    margin-top: 32px;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover{
                        background-color: #fde25a;
                        color: #17407a;
                    }
                }
            }
         }
 
     }
 }


 @media  screen and (max-width: 1600px) and (min-width:1281px) {
    // main .bigwh-container .info-curier{
    //     margin: 0;
    // }
    main .bigwh-container .form, main .bigwh-container .info-curier{
        margin: 32px 64px;
    }
    main .bigwh-container .onelist-right, main .bigwh-container .onelist-left{
        max-width: 500px;
    }
    .redcross-list{
        padding: 0 64px;
    }
    
 }

 @media screen and (max-width:1280px){
    main{
        width: 100%;
        overflow: hidden;
        word-break: break-word;
    }

    .main-text{
        padding: 0 5%;
    }

    .container{

        .inside-cointainer{
            padding: 64px ;
        }

        .form{
            margin: 0 64px;
        }
        .agree-terms, .main-form{
            padding: 0 64px;
        }
        
    }
    main .bigwh-container .info-curier{
        margin: 32px 64px;
    }
    main .bigwh-container .form .main-form input, main .bigwh-container .form .main-form select, main .bigwh-container .form .main-form textarea{
        width: 100%;
        max-width: none;
    }
}


@media screen and (max-width:640px){

    header {
        height: auto;
        .header-bg {
            height: 140px;
            background-size: cover;
        }
    }
    .container{

        .inside-cointainer{
            padding: 24px ;
        }

        .form{
            margin: 0 24px;
        }
        .agree-terms, .main-form{
            padding: 0 24px;
        }
    }

    main .bigwh-container{
        padding-bottom: 64px;
    }

    main .bigwh-container .info-curier{
        margin:  24px;
        padding-bottom: 32px;
        padding-top: 32px;
    }
    main .main-text h1{
        margin-top: 32px;
    }
    h1, main .bigwh-container .form .main-form h3 {
        font-size: 1.5em !important;
    }

    main .bigwh-container h2{
        font-size: 1.1em !important;
        word-break: break-all;
    }
    main .main-text p, main .bigwh-container .info-curier .desc-curier h4 {
        font-size: 1em;
    }
    main .bigwh-container ul.onelist{
        padding-right: 0 !important;
        padding-left: 48px;
    }
    main .bigwh-container .info-curier .desc-curier p, main .bigwh-container .form .agree-terms > label, main .bigwh-container .info-curier .rules ul, main .bigwh-container ul.onelist li{
        font-size: 0.85em;
    }
    main .bigwh-container .form .main-form input, main .bigwh-container .form .main-form select, main .bigwh-container .form .main-form textarea {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
        height: auto;
    }
    main .bigwh-container .form .main-form textarea{
        height: 68px;
    }
    main .bigwh-container .form .main-form h3{
        margin-top: 32px;
    }

    main .bigwh-container .onelist-left{
        margin: 0;
    }

    main .bigwh-container ul.onelist{
        margin-top: 32px;
    }
    main .bigwh-container ul.onelist h3 {
        font-size: 1em;
        padding-top: 8px;
        margin-bottom: 8px;
    }

}



 