/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: MeamaSerif;
  src: url(../fonts/MeamaLGV-Medium.woff);
}
@font-face {
  font-family: MeamaSansRegular;
  src: url(../fonts/MeamaSansLGV-Regular.woff);
}
@font-face {
  font-family: MeamaSansMedium;
  src: url(../fonts/MeamaSansLGV-Medium.woff);
}
/* line 23, ../sass/screen.scss */
body {
  background: #F5F5F5;
  width: 100%;
  font: 1em MeamaSansRegular;
  box-sizing: border-box;
}

/* line 29, ../sass/screen.scss */
.container {
  max-width: 1200px;
  margin: auto;
}
/* line 33, ../sass/screen.scss */
.container .inside-cointainer {
  padding: 64px 0;
}

/* line 38, ../sass/screen.scss */
header {
  height: 300px;
}
/* line 40, ../sass/screen.scss */
header .header-bg {
  background: url(../images/ukr.png) top center no-repeat;
  width: 100%;
  height: 200px;
}
/* line 45, ../sass/screen.scss */
header .main-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: #fff;
}
/* line 52, ../sass/screen.scss */
header .main-logos .meama-logo, header .main-logos .redcross-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}
/* line 57, ../sass/screen.scss */
header .main-logos .meama-logo:last-child, header .main-logos .redcross-logo:last-child {
  margin-right: 0;
}

/* line 69, ../sass/screen.scss */
main {
  width: 100%;
  overflow: hidden;
  word-break: break-word;
}
/* line 74, ../sass/screen.scss */
main .main-text h1 {
  font: 2em MeamaSerif;
  margin-bottom: 24px;
  margin-top: 56px;
}
/* line 80, ../sass/screen.scss */
main .main-text p {
  font: 1.25em MeamaSansRegular;
}
/* line 86, ../sass/screen.scss */
main .bigwh-container {
  background: #fff;
  max-width: 90%;
  box-shadow: 0em 2px 10px rgba(0, 0, 0, 0.116);
  border-radius: 16px;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  overflow: hidden;
  padding-bottom: 96px;
}
/* line 97, ../sass/screen.scss */
main .bigwh-container h2 {
  font: 2em meamaSerif;
  color: #000;
}
/* line 103, ../sass/screen.scss */
main .bigwh-container .onelist-left {
  margin-right: 20px;
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
}
/* line 109, ../sass/screen.scss */
main .bigwh-container .onelist-right {
  max-width: 500px;
  display: inline-block;
}
/* line 114, ../sass/screen.scss */
main .bigwh-container ul.onelist {
  padding-left: 64px;
  background: no-repeat;
  margin-top: 64px;
}
/* line 120, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist.food {
  background: url(../images/food.svg) no-repeat;
  padding-right: 104px;
}
/* line 124, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist.hygien {
  background: url(../images/hygien.svg) no-repeat;
  padding-right: 104px;
}
/* line 128, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist.pharmacy {
  background: url(../images/medical.svg) no-repeat;
}
/* line 132, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist.clothes {
  background: url(../images/clothes.svg) no-repeat;
}
/* line 135, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist.other {
  background: url(../images/other.svg) no-repeat;
}
/* line 141, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist li:before {
  content: "-";
  padding-right: 4px;
}
/* line 145, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist li:first-child:before {
  content: "";
  padding: 0;
}
/* line 153, ../sass/screen.scss */
main .bigwh-container ul.onelist h3 {
  font: 1.25em MeamaSansMedium;
  margin-bottom: 16px;
}
/* line 158, ../sass/screen.scss */
main .bigwh-container ul.onelist.onelist-right {
  margin-right: 0;
}
/* line 168, ../sass/screen.scss */
main .bigwh-container .info-curier {
  margin: 32px 96px;
  padding: 64px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
/* line 176, ../sass/screen.scss */
main .bigwh-container .info-curier .desc-curier h4 {
  font: 1.5em MeamaSansRegular;
  margin-bottom: 0.35em;
}
/* line 182, ../sass/screen.scss */
main .bigwh-container .info-curier .rules {
  margin-top: 32px;
}
/* line 184, ../sass/screen.scss */
main .bigwh-container .info-curier .rules ul {
  margin-top: 8px;
}
/* line 187, ../sass/screen.scss */
main .bigwh-container .info-curier .rules ul li:before {
  content: "-";
  margin-right: 8px;
}
/* line 192, ../sass/screen.scss */
main .bigwh-container .info-curier .rules p {
  font-family: MeamaSansMedium;
}
/* line 199, ../sass/screen.scss */
main .bigwh-container .form {
  margin: 32px 0;
}
/* line 206, ../sass/screen.scss */
main .bigwh-container .form .agree-terms {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* line 215, ../sass/screen.scss */
main .bigwh-container .form .agree-terms input[type="checkbox"] {
  width: 32px;
  height: 32px;
}
/* line 220, ../sass/screen.scss */
main .bigwh-container .form .agree-terms > label {
  margin-left: 12px;
}
/* line 228, ../sass/screen.scss */
main .bigwh-container .form .main-form h3 {
  font: 2em MeamaSerif;
  display: block;
  margin-bottom: 24px;
  margin-top: 64px;
}
/* line 237, ../sass/screen.scss */
main .bigwh-container .form .main-form input, main .bigwh-container .form .main-form select, main .bigwh-container .form .main-form textarea {
  width: 50%;
  max-width: 382px;
  border: rgba(0, 0, 0, 0.103) solid 1px;
  height: 28px;
  padding: 10px;
  margin-bottom: 12px;
  margin-right: 8px;
  font: 0.85em MeamaSansRegular;
  border-radius: 3px;
  background: #fff;
}
/* line 249, ../sass/screen.scss */
main .bigwh-container .form .main-form select {
  padding: 13.5px 10px;
  box-sizing: content-box;
}
/* line 253, ../sass/screen.scss */
main .bigwh-container .form .main-form textarea {
  height: 50px;
  width: 100%;
  display: block;
  max-width: 800px;
}
/* line 260, ../sass/screen.scss */
main .bigwh-container .form .main-form button {
  background-color: #FED501;
  color: #2157A1;
  padding: 16px 44px;
  border: 0;
  border-radius: 6px;
  font: 1em MeamaSansMedium;
  margin-top: 32px;
  cursor: pointer;
  transition: 0.3s;
}
/* line 271, ../sass/screen.scss */
main .bigwh-container .form .main-form button:hover {
  background-color: #fde25a;
  color: #17407a;
}

@media screen and (max-width: 1600px) and (min-width: 1281px) {
  /* line 287, ../sass/screen.scss */
  main .bigwh-container .form, main .bigwh-container .info-curier {
    margin: 32px 64px;
  }

  /* line 290, ../sass/screen.scss */
  main .bigwh-container .onelist-right, main .bigwh-container .onelist-left {
    max-width: 500px;
  }

  /* line 293, ../sass/screen.scss */
  .redcross-list {
    padding: 0 64px;
  }
}
@media screen and (max-width: 1280px) {
  /* line 300, ../sass/screen.scss */
  main {
    width: 100%;
    overflow: hidden;
    word-break: break-word;
  }

  /* line 306, ../sass/screen.scss */
  .main-text {
    padding: 0 5%;
  }

  /* line 312, ../sass/screen.scss */
  .container .inside-cointainer {
    padding: 64px;
  }
  /* line 316, ../sass/screen.scss */
  .container .form {
    margin: 0 64px;
  }
  /* line 319, ../sass/screen.scss */
  .container .agree-terms, .container .main-form {
    padding: 0 64px;
  }

  /* line 324, ../sass/screen.scss */
  main .bigwh-container .info-curier {
    margin: 32px 64px;
  }

  /* line 327, ../sass/screen.scss */
  main .bigwh-container .form .main-form input, main .bigwh-container .form .main-form select, main .bigwh-container .form .main-form textarea {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 640px) {
  /* line 336, ../sass/screen.scss */
  header {
    height: auto;
  }
  /* line 338, ../sass/screen.scss */
  header .header-bg {
    height: 140px;
    background-size: cover;
  }

  /* line 345, ../sass/screen.scss */
  .container .inside-cointainer {
    padding: 24px;
  }
  /* line 349, ../sass/screen.scss */
  .container .form {
    margin: 0 24px;
  }
  /* line 352, ../sass/screen.scss */
  .container .agree-terms, .container .main-form {
    padding: 0 24px;
  }

  /* line 357, ../sass/screen.scss */
  main .bigwh-container {
    padding-bottom: 64px;
  }

  /* line 361, ../sass/screen.scss */
  main .bigwh-container .info-curier {
    margin: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
  }

  /* line 366, ../sass/screen.scss */
  main .main-text h1 {
    margin-top: 32px;
  }

  /* line 369, ../sass/screen.scss */
  h1, main .bigwh-container .form .main-form h3 {
    font-size: 1.5em !important;
  }

  /* line 373, ../sass/screen.scss */
  main .bigwh-container h2 {
    font-size: 1.1em !important;
    word-break: break-all;
  }

  /* line 377, ../sass/screen.scss */
  main .main-text p, main .bigwh-container .info-curier .desc-curier h4 {
    font-size: 1em;
  }

  /* line 380, ../sass/screen.scss */
  main .bigwh-container ul.onelist {
    padding-right: 0 !important;
    padding-left: 48px;
  }

  /* line 384, ../sass/screen.scss */
  main .bigwh-container .info-curier .desc-curier p, main .bigwh-container .form .agree-terms > label, main .bigwh-container .info-curier .rules ul, main .bigwh-container ul.onelist li {
    font-size: 0.85em;
  }

  /* line 387, ../sass/screen.scss */
  main .bigwh-container .form .main-form input, main .bigwh-container .form .main-form select, main .bigwh-container .form .main-form textarea {
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    height: auto;
  }

  /* line 393, ../sass/screen.scss */
  main .bigwh-container .form .main-form textarea {
    height: 68px;
  }

  /* line 396, ../sass/screen.scss */
  main .bigwh-container .form .main-form h3 {
    margin-top: 32px;
  }

  /* line 400, ../sass/screen.scss */
  main .bigwh-container .onelist-left {
    margin: 0;
  }

  /* line 404, ../sass/screen.scss */
  main .bigwh-container ul.onelist {
    margin-top: 32px;
  }

  /* line 407, ../sass/screen.scss */
  main .bigwh-container ul.onelist h3 {
    font-size: 1em;
    padding-top: 8px;
    margin-bottom: 8px;
  }
}
